@import "tailwindcss";

:root {
  --background: #f4f9ff;
  --foreground: #1f2937;
  --card: #f8fafc;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #6b7280;
  --primary: #008081;
  --primary-dark: #005859;
  --primary-light: #069999;
  --primary-extralight: #02c9c9;
  --primary-foreground: #ffffff;
  --secondary: #002491;
  --secondary-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #6b7280;
  --accent: #8b5cf6;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: #e2e8f0;
  --text-primary: #0a1440;
  --primary-blue: #0a8aff;
  --secondary-blue: #3b82f6;
  --blue-dark: #03206b;

  /* dark mode */
  --background-dark: #1a1a18;
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-extralight: var(--primary-extralight);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);

  --color-text-primary: var(--text-primary);
  --color-primary-blue: var(--primary-blue);
  --color-secondary-blue: var(--secondary-blue);
  --color-blue-dark: var(--blue-dark);
  --color-text: white;
  --color-text-accent: #111827;
  --color-description-text: #6b7280;
  --color-gray-background: #f8fafc;

  --color-border-light-gray: #e5e7eb;
  --color-border-dark-gray: #3f3f46;

  --color-dark: #1e2a3b;
  --color-toggle: #1e2a3b;
  --color-toggle-text: white;

  --color-slider-background: white;
  --color-white-background: white;

  --color-card-background: white;
}

@layer base {
  :root,
  [data-theme="light"] {
    --color-background: var(--background);
    --color-white-background: white;
    --color-text: black;
    --color-text-accent: #111827;
    --color-description-text: #6b7280;
    --color-gray-background: #f8fafc;
    --color-border-light-gray: #e5e7eb;
    --color-border-dark-gray: #3f3f46;
    --color-toggle: #1e2a3b;
    --color-toggle-text: white;

    --color-slider-background: white;
    --color-card-background: white;
  }

  [data-theme="dark"] {
    --color-background: var(--background-dark);
    --color-white-background: var(--background-dark);
    --color-text: white;
    --color-text-accent: white;
    --color-description-text: white;
    --color-gray-background: #282825;
    --color-border-light-gray: #52525b;
    --color-border-dark-gray: #71717a;
    --color-toggle: white;
    --color-toggle-text: #1e2a3b;

    --color-slider-background: #282825;
    --color-card-background: #282825;
  }
}

body {
  /* background: var(--background);
  color: var(--text-foreground); */
  font-family: var(--font-geist), var(--font-geist-fallback), sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.top-bottom2 {
  animation: moveTopToBottom2 8s linear infinite;
}

.top-bottom {
  animation: moveTopToBottom 15s linear infinite;
}

.bottom-top {
  animation: moveBottomToTop 15s linear infinite;
}

/** 
  Key Frames
*/

@keyframes moveTopToBottom {
  from {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }

  to {
    transform: translateY(-20%);
  }
}

@keyframes moveTopToBottom2 {
  from {
    transform: translateY(-2%);
  }

  50% {
    transform: translateY(2%);
  }

  to {
    transform: translateY(-2%);
  }
}

@keyframes moveBottomToTop {
  from {
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-20%);
  }

  to {
    transform: translateY(20%);
  }
}
